# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env

# Editor
.vscode/
.idea/
terminals/
agent-tools/

# Node later
node_modules/
dist/
build/